VITE_SUPABASE_URL=liapsfwxixqiedjkrecq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxpYXBzZnd4aXhxaWVkamtyZWNxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI2MTc3NTAsImV4cCI6MjA5ODE5Mzc1MH0.6LiXW9_O-S-ACeCs2fdVWEd_MVSUZg4_Jb5tpDNELCM
